<div class="row">
 <div class="col-md-8">
   <div class="media">
     <br />
     <% avatar_url = @user.avatar_url(128) %>
     <% if avatar_url %>
       <div class="media-left">
         <%= image_tag avatar_url, class: 'media-object' %>
       </div>
     <% end %>
     <div class="media-body">
       <h2 class="media-heading"><%= @user.name %></h2>
       <small>
         <%= pluralize(@user.posts.count, 'post') %>,
         <%= pluralize(@user.comments.count, 'comment') %>
       </small>
     </div>
   </div>
 </div>
</div>

<% if no_posts? %>
 <h2><%="#{@user.name} has not submitted any posts"%></h2>
<% else %>
  <h2>Posts</h2>
  <%= render @user.posts %>
<% end %>

<% if no_comments? %>
 <h2><%="#{@user.name} has not submitted any comments"%></h2>
<% else %>
  <h2>Comments</h2>
  <%= render @user.comments %>
<% end %>

<h2>Favorites</h2>
<ul>
<div class="row" >
 <div class="media">
   <% @user.favorites.each do |f| %>
   <div class="col-md-8">
      <div class="media-left pull-left">
          <%= image_tag f.post.user.avatar_url(32) %>
      </div>
       <div class="media-left pull-left">
        <%= render partial: 'votes/voter', locals: { post: f.post } %>  
      </div>
      <h4><%=link_to f.post.title, topic_post_path(f.post.topic, f.post) %></h4>
      
     <small>
      <%= "#{f.post.comments.count} Comments" %>
     </small>
   </div>
   <% end %> 
  </div>
</div>